<!-- Héritage de template ? Block(s) ? -->
{% extends "base.html" %}

{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>

      <!-- iterate here ? -->
      {%for contents in content %} 
      <a href="/{{ contents['slug'] }}">
          <figure>
              <img src="{{ contents['avatar'] }}" alt="" />
              <figcaption>Discover the {{ contents['name'] }}</figcaption>
          </figure>
      </a>
      {%endfor%} 
</section>

{% endblock %}