<!-- Héritage de template ? Block(s) ? -->
{% extends "base.html" %}

{% block main %}
<div class="grid">
    <article>
        <h2>Discover the {{test['name']}}</h2>

        <div class="description">
            {{ test['description'] }}
        </div>

        <div class="card">
            <img src="{{ test['avatar'] }}" alt="" />
            <dl>
                <dt>Name</dt>
                <dd> {{test['name']}}</dd>
                <dt>Name meaning</dt>
                <dd>{{test['name_meaning']}}</dd>
                <dt>Diet</dt>
                <dd>{{test['diet']}}</dd>
                <dt>Height</dt>
                <dd>{{test['height']}}</dd>
                <dt>Length</dt>
                <dd>{{test['length']}}</dd>
                <dt>Weight</dt>
                <dd>{{test['weight']}}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for aleatoire in aleatoire %} 
        <!-- iterate here ? -->
            <a href="/{{aleatoire['slug']}}">
                <figure>
                    <img src="{{aleatoire['avatar']}}" alt="" />
                    <figcaption>Discover the {{aleatoire['name']}}</figcaption>
                </figure>
            </a>
        {% endfor %} 
    </aside>
</div>
{% endblock %}